@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
  }

body {
    background-color: rgb(0, 0, 0);
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(134, 134, 134, 0.2);
  }

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    position: fixed;
    background-color: black;
    border-bottom: solid 1px #e4e2e254;
    box-shadow: 0;
    padding-left: 4vw;
    height: 7.5vw;
    width: 100vw;
    z-index: 5;
    /* background-image: url("https://www.publicdomainpictures.net/pictures/210000/nahled/black-textured-pattern-background.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1616787928056-ae5ab4b649d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80");
    /* background-image: url("https://cdn.pixabay.com/photo/2019/07/30/19/09/bbq-4373644_1280.jpg"); */
}

#title-icon {
    width: 4vw;
    padding-left: 27vw;
    background-color: transparent;
}

#main-title {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: "Chalkduster";
    font-stretch: extra-expanded;
    font-weight: 100;
    font-size: 4vw;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

:hover#main-title {
    cursor: pointer;
}

.order-title {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    margin-top: 0;
    color: #e4e2e2;
    font-family: "Courier New";
    font-weight: lighter;
    font-size: 1.35vw;
    border-bottom: solid 1px #e4e2e254;
    letter-spacing: 2px;
    background-color: rgba(39, 39, 39, 0.31);
    backdrop-filter: blur(10px);
    text-shadow: 2px 1px 1px rgba(20, 20, 20, 0.633);
    padding-top: 8px;
    padding-bottom: 5px;
    top: 7.5vw;
}

/*///   Images  ///*/

#main-background-image{
    /* background-image: url("https://cdn.pixabay.com/photo/2019/07/30/19/09/bbq-4373644_1280.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1428895009712-de9e58a18409?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 6.8vw;
    width: 100vw;
    height: calc(98vh - 7.8vw);
    position: relative;
    z-index: -1;
}

/*/////////////////*/
/*     Buttons     */
/*/////////////////*/
/* main order button */
.center-order-button {
    position: absolute;
    /* top: 2.3vw;
    right: 20vw; */
    top: 30%;
    right: 20%;
}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: .8vw;
    border-radius: 50px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    color: #e4e2e2;
    box-shadow: inset 0 0 0 1px #e4e2e2cf;
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 3vw;
    width: 8vw;
    min-height: 20px;
    min-width: 45px;
    top: 12vw;
    left: calc(50% - 4.5vw);
}

:hover.order-button{
    color: #fff;
    background-color: #e4e2e2a0;
    transition: .35s;
}

/* main order button */
.center-menu-button {
    position: absolute;
    /* top: 2.3vw;
    right: 20vw; */
    top: 30%;
    right: 10%;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: .8vw;
    border-radius: 50px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    color: #e4e2e2;
    box-shadow: inset 0 0 0 1px #e4e2e2;
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 3vw;
    width: 8vw;
    min-height: 20px;
    min-width: 45px;
    top: 12vw;
    left: calc(50% - 4.5vw);
}

:hover.menu-button {
    color: #fff;
    background-color: #e4e2e2a0;
    transition: .35s;
}

/* Order submit button */
.submit-btn {
    width: 160px;
    height: 37px;
    border: .5px solid transparent;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    box-shadow: inset 0 0 0 1px #ffffffac;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
}

:hover.submit-btn{
    color: #242424;
    background-color: #ffffff;
    transition: .35s;
}

.center-submit-btn {
    display: flex;
    justify-content: center;
}

/* Placed Orders 'Edit' and 'Delete' Buttons */
.bothOrderedButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.orderedEditButton {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: .8vw;
    border-radius: 50px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    color: #e4e2e2;
    box-shadow: inset 0 0 0 1px #e4e2e254;
    background-color: transparent;
    height: 2.5vw;
    width: 6vw;
    min-height: 20px;
    min-width: 45px;
}

:hover.orderedEditButton{
    color: #fff;
    background-color: #e4e2e2a0;
    transition: .35s;
}

.orderedDeleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: .7vw;
    border-radius: 50px;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    color: #e4e2e2;
    box-shadow: inset 0 0 0 1px #e4e2e254;
    background-color: transparent;
    height: 2.5vw;
    width: 6vw;
    min-height: 20px;
    min-width: 45px;
}

:hover.orderedDeleteButton{
    color: #fff;
    background-color: #e4e2e2a0;
    transition: .35s;
}

/* Name suggestion button */
.submit-name {
    margin-left: 3.5vw;
    margin-top: 1.8vw;
	transform: translate(-50%, -50%);
	color: #e9e9e9f8;
    font-family: "Century Gothic", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
	text-decoration: none;
	font-size: .78em;
	text-transform: uppercase;
	padding: 0.34em 1em 0.30em 1em;
	border: .8px solid #ffffffad;
    border-radius: 2px;
	transition: 0.01s 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}

.submit-name::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #ffffffad;
	transition: 0.15s 0.1s cubic-bezier(0.1, 0, 0.1, 1), left 0.15s cubic-bezier(0.1, 0, 0.1, 1);
	z-index: -1;
}

.submit-name::after {
	content: "";
	display: inline-block;
	background-image: url("https://www.nicepng.com/png/full/9-97633_right-arrow-white-png-right-arrow-png-white.png");
	position: absolute;
	top: 0;
	left: calc(100% - 1.5em);
	right: 1.5em;
	bottom: 0;
	background-size: 0.75em;
	background-repeat: no-repeat;
	background-position: center;
    border-radius: 2px;
	transition: right 0.15s cubic-bezier(0.1, 0, 0.1, 1);
}

.submit-name:hover {
	padding: 0.34em 1.75em 0.30em 0.25em;
}

.submit-name:hover::before {
	left: calc(100% - 1.5em);
	right: 0;
	transition: 0.15s cubic-bezier(0.1, 0, 0.1, 1), left 0.15s 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}

.submit-name:hover::after {
	right: 0;
	transition: right 0.15s 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}

/*/////////////////*/
/*   Order Window  */
/*/////////////////*/

/* Popup Form */
.center-form {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 18vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    color: rgb(207, 207, 207);
    font-family: "Copperplate";
    font-weight: lighter;
    text-shadow: 1px 1px 2px rgb(38, 38, 38);
    border: 1px solid rgba(202, 202, 202, 0.393);
    /* background: transparent; */
    background-color: #1d1d1d72;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transform: scale(0);
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 35px;
    width: 310px;
    height: 360px;
    transition: transform .6s ease, height .2s ease;
    z-index: 3;
}

.wrapper.active-popup {
    transform: scale(1);
}

.form-box h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.79vw;
    font-family: "Monospace", "Copperplate";
    font-weight: lighter;
    color: rgb(210, 210, 210);
}

/* close icon */
.close-form {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 33px;
    height: 30px;
    /* opacity: 3; */
  }

  .close-form:hover {
    opacity: 1;
    cursor: pointer;
  }

  .close-form:before, .close-form:after {
    position: absolute;
    right: 17px;
    top: 2px;
    content: ' ';
    height: 30px;
    width: 3px;
    background-color: #aaaaaa93;
  }

  .close-form:before {
    transform: rotate(45deg);
  }

  .close-form:after {
    transform: rotate(-45deg);
  }

/* input fields */
.input-box {
    width: 100%;
    height: 25px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.749); 
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 21px;
}

.input-box label {
    pointer-events: none;
    margin-top: 4px;
    letter-spacing: 1px;
}

.input-box input {
    background: transparent;
    border: none;
    height: 100%;
    color: white;
    font-size: 20px;
    font-family: "Monospace", "Copperplate";
    margin-left: 10px;
}:focus {
    outline: none;
}

/* Drink options */
.drink-menu {
    margin: 8px;
    font-size: 18px;
    text-align: center;
}

.drink-title {
    font-size: 22px;
    color: rgba(220, 220, 220, 0.876);
    letter-spacing: 1px;
    padding-right: 5px;
}

.drink-options {
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: white;
    padding: 3px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
}

:hover.drink-options{
    color: #fff;
    background-color: #e4e2e277;
    transition: .35s;
}

/* radio buttons */
.radio-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    font-size: 19px;
    width: 100%;
    height: 40px;
}

.to-go {
    right: 5px;
}

.radiobtn-divider{
   margin-left: 45px;
   margin-right: 45px;
   font-size: 25px;
   color: #cdcdcd;
}

.radio-input {
    margin-right: 15px;
    margin-bottom: 4px;
    z-index: 20;
    cursor: pointer;
}

.dine-in {
    cursor: pointer;
}

.to-go {
    cursor: pointer;
}

/* Pickup Time Dropdown */
.pickup-time {
    margin: 8px;
    font-size: 18px;
    text-align: center;
}

.pickup-title {
    font-size: 20px;
    color: rgb(225, 225, 225);
    letter-spacing: 1px;
}

.time-options {
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: white;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

:hover.time-options {
    color: #fff;
    background-color: #e4e2e277;
    transition: .35s;
}

.ordered-list {
    text-align: left;
    color: white;
    margin: 20px;
    margin-left: 28px;
    padding: 20px;
    outline: none;
    font-size: 14px;
    border-radius: 32px;
    transition-duration: .3s;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 1px #e4e2e229;
    font-family: 'open sans',arial,sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: rgba(163, 163, 163, 0.066);
    backdrop-filter: blur(2px);
    text-shadow: 2px 1px 1px rgb(36, 36, 36);
}

.order-history-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    /* justify-content: flex-start; */
    width: 100vw;
    margin: 0;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    /* background-image: url("https://images.unsplash.com/photo-1544796709-a7dd8f72e903?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"); */
}

/* Order History */
#order-history-title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    margin-top: -2.2%;
    margin-bottom: 0;
    color: #e4e2e2;
    font-family: "Courier New";
    font-weight: lighter;
    font-size: 1.3vw;
    border-top: solid 1px #e4e2e254;
    border-bottom: solid 1px #e4e2e254;
    letter-spacing: 2px;
    background-color: rgba(39, 39, 39, 0.31);
    backdrop-filter: blur(10px);
    text-shadow: 2px 1px 1px rgb(38, 38, 38);
    padding-top: 6px;
    padding-bottom: 5px;
}

/*/////////////////*/
/*  Popup Message  */
/*/////////////////*/
.order-placed-popup {
    display: flex;
    position: absolute;
    width: 100vw;
    left: 36.5%;
    top: 20vw;
}

.popup-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(207, 207, 207);
    font-family: 'open sans', arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 2px rgb(38, 38, 38);
    border: 1px solid rgba(202, 202, 202, 0.393);
    background-color: #3b3b3b72;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transform: scale(0);
    padding: 40px;
    width: 310px;
    height: 160px;
    transition: transform .6s ease, height .2s ease;
    z-index: 3;
}

.popup-message > p {
    margin-bottom: 2px;
    padding: 2px;
}

.popup-message.active-popup {
    transform: scale(1);
}

/*/////////////////*/
/*      Footer     */
/*/////////////////*/

/* Footer section */
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    width: 100vw;
    height: 5vw;
    color: white;
    text-align: center;
    font-size: 1.2vw;
}

/*/////////////////*/
/*   Suggest Name  */
/*/////////////////*/

/* Name Suggestion Section */
.name-suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 8vw;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border-top: solid 1px #e4e2e241;
    margin-bottom: -2px;
    border-bottom: none;
    box-shadow: none;
    /* font-family: sans-serif; */
    font-family: 'open sans', arial, sans-serif;
    /* background-color: rgba(167, 167, 167, 0.132); */
    backdrop-filter: blur(5px);
    font-weight: 100;
    letter-spacing: 1px;
    font-stretch: extra-expanded;
    font-size: 1.2vw;
    text-shadow: none;
    padding-top: 2vw;
    /* padding-bottom: 3vw; */
    background-image: url("https://t3.ftcdn.net/jpg/03/95/27/02/360_F_395270291_DnrS0DkYCftowc2P5RgFnoqtTaknTNkX.jpg");
    /* background-image: url("https://images.unsplash.com/photo-1616787928056-ae5ab4b649d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80"); */
}

.suggestion-input {
    width: 15%;
    height: 25px;
    border-bottom: 1.7px solid #e4e2e254; 
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.2vw;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.suggestion-input label {
    pointer-events: none;
    letter-spacing: 1px;
}

.suggestion-input input {
    background: transparent;
    width: 92%;
    border: none;
    height: 100%;
    color: white;
    font-size: 1.28vw;
    font-family: "Courier New";
    margin-top: 1px;
    margin-left: 5px;
}:focus {
    outline: none;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2vw;
    padding-bottom: .2vw;
    width: 100vw;
    font-family: 'open sans',arial,sans-serif;
    font-weight: 300;
    /* font-family: "Courier New"; */
    /* font-weight: lighter; */
    font-size: 1vw;
    letter-spacing: 1px;
    margin-top: -2px;
    /* background-color: rgba(167, 167, 167, 0.132); */
    backdrop-filter: blur(5px);
    background-image: url("https://t3.ftcdn.net/jpg/03/95/27/02/360_F_395270291_DnrS0DkYCftowc2P5RgFnoqtTaknTNkX.jpg");
}

#profile-link {
    text-decoration: none;
}

:hover#profile-link {
    text-decoration: underline;
}
